extends layout 


block main-content 
  h1 Sorry not valid city found (#{cityNotFound})
  p Try again with the correct spelling and add the country or State E.g. Toronto, Canada

  a(href="/") Go back